/* =======================
   RESET
======================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    overflow-x:hidden;
}

/* =======================
   NAV
======================= */
/* =======================
   NAVBAR
======================= */
.tabs{
    position:sticky;
    top:0;
    z-index:999;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:14px;

    padding:18px 40px;

    background:rgba(15,23,42,0.82);
    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(255,255,255,0.06);
}

/* LOGO */
.nav-logo{
    position:absolute;
    left:40px;

    display:flex;
    align-items:center;
    gap:14px;
}

/* RG CIRCLE */
.rg-logo{
    width:48px;
    height:48px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    font-size:18px;
    font-weight:800;
    letter-spacing:1px;

    color:white;

    background:linear-gradient(135deg,#38bdf8,#818cf8);

    box-shadow:
    0 0 20px rgba(56,189,248,0.35),
    0 0 40px rgba(129,140,248,0.2);

    transition:0.3s ease;
}

/* hover */
.rg-logo:hover{
    transform:rotate(-8deg) scale(1.05);
}

/* NAME */
.nav-logo span{
    font-size:16px;
    font-weight:700;
    letter-spacing:0.5px;

    background:linear-gradient(90deg,#ffffff,#cbd5e1);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/* TABS */
.tab{
    padding:10px 20px;
    border-radius:30px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.tab:hover,
.tab.active{
    background:#38bdf8;
    color:#0f172a;
}

/* smooth scroll */
html{
    scroll-behavior:smooth;
}

/* =======================
   SECTIONS
======================= */
.content{
    padding:80px 10%;
}

/* =======================
   HERO
======================= */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;

    background:rgba(255,255,255,0.06);
    border:1px solid rgba(255,255,255,0.12);
    backdrop-filter:blur(20px);

    border-radius:25px;
    padding:50px;
}

.hero-text{
    flex:1;
}

.badge{
    display:inline-block;
    padding:6px 12px;
    border-radius:20px;
    font-size:14px;
    margin-bottom:15px;
    color:#38bdf8;
    background:rgba(56,189,248,0.1);
    border:1px solid #38bdf8;
}

.tagline{
    font-size:22px;
    margin-top:10px;
}

.name{
    font-size:28px;
    font-weight:bold;
    background:linear-gradient(90deg,#38bdf8,#818cf8);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero-img img{
    width:280px;
    height:280px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #38bdf8;
}

/* =======================
   BUTTONS
======================= */
.buttons{
    margin-top:30px;

    display:flex;
    align-items:center;
    gap:16px;
    flex-wrap:wrap;
}

/* MAIN BUTTON */
.btn{
    display:flex;
    align-items:center;
    justify-content:center;

    height:52px;
    padding:0 28px;

    border-radius:40px;

    text-decoration:none;
    font-weight:600;
    font-size:15px;

    transition:0.3s ease;
}

/* PRIMARY */
.primary{
    background:#38bdf8;
    color:#0f172a;
}

.primary:hover{
    transform:translateY(-4px);

    box-shadow:
    0 0 25px rgba(56,189,248,0.4);
}

/* SECONDARY */
.secondary{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    color:white;
}

.secondary:hover{
    background:#38bdf8;
    color:#0f172a;

    transform:translateY(-4px);
}

/* =======================
   CV ICON BUTTON
======================= */
.cv-btn{
    width:52px;
    height:52px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);

    color:#38bdf8;
    text-decoration:none;

    transition:0.3s ease;
}

/* icon */
.cv-btn i{
    font-size:20px;
}

/* CV TEXT LOGO */
.cv-logo{
    font-size:15px;
    font-weight:800;
    letter-spacing:1px;
}

/* hover */
.cv-btn:hover{
    background:#38bdf8;
    color:#0f172a;

    transform:translateY(-4px);

    box-shadow:
    0 0 20px rgba(56,189,248,0.35),
    0 0 40px rgba(56,189,248,0.15);
}

/* HIGHLIGHTS */
.highlights{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:25px;
}

.highlights div{
    padding:12px 18px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);

    border-radius:16px;

    color:#e2e8f0;
    font-size:14px;
    font-weight:500;

    backdrop-filter:blur(10px);

    transition:0.3s ease;
}

/* hover effect */
.highlights div:hover{
    transform:translateY(-5px);

    border:1px solid #38bdf8;

    box-shadow:
    0 0 15px rgba(56,189,248,0.35),
    0 0 30px rgba(56,189,248,0.12);

    color:#38bdf8;
}

/* SOCIALS */
.socials{
    margin-top:25px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.socials a{
    padding:10px 18px;
    border-radius:14px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);

    color:#e2e8f0;
    text-decoration:none;
    font-size:14px;
    font-weight:500;

    backdrop-filter:blur(10px);

    transition:0.3s ease;
}
.socials a i{
    font-size:16px;
}
/* ICON COLORS */
.socials a .fa-github{
    color:#ffffff;
}

.socials a .fa-instagram{
    color:#ff4da6;
}

.socials a .fa-facebook-f{
    color:#1877f2;
}

/* hover icon color */
.socials a:hover i{
    color:#0f172a;
}

/* hover */
.socials a:hover{
    background:#38bdf8;
    color:#0f172a;

    transform:translateY(-4px);

    box-shadow:
    0 0 15px rgba(56,189,248,0.4),
    0 0 30px rgba(56,189,248,0.15);
}

/* =======================
   SKILLS SECTION
======================= */
.skills-container{
    margin-top:40px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.section-title{
    font-size:42px;
    font-weight:700;
    margin-bottom:40px;
    color:white;
}

/* MAIN BOX */
.skills-wrapper{
    width:900px;
    max-width:95%;
    overflow:hidden;

    padding:35px 20px;
    border-radius:30px;

    background:rgba(255,255,255,0.03);
    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);
    position:relative;
}

/* fade edges */
.skills-wrapper::before,
.skills-wrapper::after{
    content:"";
    position:absolute;
    top:0;
    width:120px;
    height:100%;
    z-index:2;
    pointer-events:none;
}

.skills-wrapper::before{
    left:0;
    background:linear-gradient(to right,#0f172a,transparent);
}

.skills-wrapper::after{
    right:0;
    background:linear-gradient(to left,#0f172a,transparent);
}

/* ROWS */
/* ROW SETTINGS */
.skills-row{
    display:flex;
    gap:22px;
    width:max-content;
}

/* FAST + SMOOTH INFINITE */
.row-left{
    animation:slideLeft 12s linear infinite;
}

.row-right{
    animation:slideRight 12s linear infinite;
}

@keyframes slideLeft{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-50%);
    }
}

@keyframes slideRight{
    from{
        transform:translateX(-50%);
    }
    to{
        transform:translateX(0);
    }
}

/* pause hover */
.skills-wrapper:hover .skills-row{
    animation-play-state:paused;
}

/* SKILL CARD */
.skill-card{
    min-width:120px;
    height:120px;

    background:#131c2b;
    border-radius:18px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    border:1px solid rgba(255,255,255,0.06);

    transition:0.35s ease;
}

/* icon */
.skill-card img{
    width:42px;
    height:42px;
    margin-bottom:12px;
}

/* text */
.skill-card p{
    color:#dbe4f0;
    font-size:14px;
    font-weight:500;
}

/* hover */
.skill-card:hover{
    transform:translateY(-8px);
    border:1px solid #38bdf8;

    box-shadow:
    0 0 15px rgba(56,189,248,0.35),
    0 0 35px rgba(56,189,248,0.15);
}

/* pause animation on hover */
.skills-wrapper:hover .skills-row{
    animation-play-state:paused;
}

/* RESPONSIVE */
@media(max-width:768px){

    .section-title{
        font-size:32px;
    }

    .skill-card{
        min-width:95px;
        height:100px;
    }

    .skill-card img{
        width:34px;
        height:34px;
    }

    .skill-card p{
        font-size:12px;
    }
}

/* ABOUT SECTION */
.about-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* BOX */
.about-box{
    margin-top:20px;
    width:900px;
    max-width:95%;

    padding:40px;

    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:25px;

    backdrop-filter:blur(18px);

    transition:0.3s ease;
}

.about-box:hover{
    transform:translateY(-5px);
    border:1px solid #38bdf8;
    box-shadow:0 0 25px rgba(56,189,248,0.2);
}

/* TEXT */
.about-text h3{
    font-size:26px;
    margin-bottom:15px;
    color:#38bdf8;
}

.about-text p{
    color:#cbd5e1;
    line-height:1.6;
    margin-bottom:15px;
}

/* TAGS */
.about-tags{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-top:20px;
}

.about-tags span{
    padding:10px 15px;
    border-radius:15px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);

    font-size:13px;
    color:#e2e8f0;

    transition:0.3s;
}

.about-tags span:hover{
    background:#38bdf8;
    color:#0f172a;
    transform:translateY(-3px);
}

/* ABOUT BOX */
.about-box{
    margin-top:20px;
    width:900px;
    max-width:95%;

    padding:40px;

    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:25px;

    backdrop-filter:blur(18px);
}

/* TEXT */
.about-text h3{
    font-size:26px;
    margin-bottom:10px;
    color:#38bdf8;
}

.about-text p{
    color:#cbd5e1;
    line-height:1.6;
}

/* STATS */
.stats{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:15px;
}

.stat-box{
    text-align:center;
    padding:20px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:18px;

    transition:0.3s;
}

.stat-box h4{
    font-size:24px;
    color:#38bdf8;
}

.stat-box p{
    font-size:13px;
    color:#cbd5e1;
}

.stat-box:hover{
    transform:translateY(-6px);
    border:1px solid #38bdf8;
    box-shadow:0 0 20px rgba(56,189,248,0.2);
}

/* EDUCATION */
.education{
    margin-top:35px;
}

.education h3{
    color:#38bdf8;
    margin-bottom:15px;
}

.edu-item{
    display:flex;
    gap:15px;

    padding:15px;
    margin-bottom:12px;

    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:15px;

    transition:0.3s;
}

.edu-item span{
    font-size:20px;
}

.edu-item h4{
    color:white;
    margin-bottom:5px;
}

.edu-item p{
    font-size:13px;
    color:#cbd5e1;
}

.edu-item:hover{
    transform:translateX(5px);
    border:1px solid #38bdf8;
}

/* PERSONAL HOBBIES */
.personal{
    margin-top:35px;
}

.personal h3{
    color:#38bdf8;
    margin-bottom:15px;
}

/* GRID */
.personal-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:15px;
}

/* CARD */
.personal-card{
    text-align:center;
    padding:18px;

    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:15px;

    transition:0.3s ease;
}

.personal-card span{
    font-size:22px;
    display:block;
    margin-bottom:8px;
}

.personal-card p{
    font-size:13px;
    color:#cbd5e1;
}

/* hover */
.personal-card:hover{
    transform:translateY(-6px);
    border:1px solid #38bdf8;
    box-shadow:0 0 20px rgba(56,189,248,0.2);
}

/* =======================
   PROJECTS SECTION
======================= */
.projects-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.projects-grid{
    width:100%;
    max-width:1200px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:28px;
}

/* CARD */
.project-card{
    position:relative;

    padding:30px;

    border-radius:28px;

    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    text-decoration:none;
    color:white;

    overflow:hidden;

    transition:0.35s ease;
}

/* glow effect */
.project-card::before{
    content:"";
    position:absolute;

    width:220px;
    height:220px;

    background:#38bdf8;
    filter:blur(120px);

    opacity:0;
    transition:0.4s;

    top:-80px;
    right:-80px;
}

.project-card:hover::before{
    opacity:0.15;
}

/* hover */
.project-card:hover{
    transform:translateY(-10px);

    border:1px solid #38bdf8;

    box-shadow:
    0 0 30px rgba(56,189,248,0.2);
}

/* top */
.project-top{
    display:flex;
    align-items:center;
    justify-content:space-between;

    margin-bottom:25px;
}

.project-top i{
    width:55px;
    height:55px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:18px;

    background:rgba(56,189,248,0.12);

    color:#38bdf8;
    font-size:22px;
}

.project-top span{
    font-size:12px;
    letter-spacing:2px;
    color:#94a3b8;
}

/* title */
.project-card h3{
    font-size:24px;
    margin-bottom:15px;
}

/* description */
.project-card p{
    color:#cbd5e1;
    line-height:1.7;
    font-size:15px;
}

/* tech stack */
.project-tech{
    margin-top:25px;

    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.project-tech span{
    padding:8px 14px;

    border-radius:20px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.06);

    font-size:13px;
    color:#e2e8f0;
}

/* link */
.project-link{
    margin-top:30px;

    color:#38bdf8;
    font-weight:600;

    transition:0.3s;
}

.project-card:hover .project-link{
    transform:translateX(5px);
}

/* MOBILE */
@media(max-width:768px){

    .projects-grid{
        grid-template-columns:1fr;
    }

}